@use 'src/index.scss'as *;

.container {
    padding: 0 2rem;

    .header {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        font-size      : 1.2rem;
        margin-bottom  : 2rem;
    }

    .body {
        justify-content: space-between;
        align-items    : flex-start;

        img {
            width        : 100%;
            object-fit   : contain;
            margin-bottom: 1.5rem;
        }

        .middle {
            text-align    : left;
            display       : flex;
            flex-direction: column;
            margin-bottom : 1.5rem;

            .title {
                color: $primaryColor;
            }

            .price {
                font-size  : 1.5rem;
                font-weight: 600;
            }

            .label {
                color       : $grayColor;
                margin-right: 1rem;
            }
        }

        .right {
            gap            : 0.5rem;
            justify-content: center;
        }
    }
}