@use 'src/index.scss'as *;

.container {
    color: $primaryColor;

    .designImg {
        width        : 100%;
        box-shadow   : $boxShadow;
        border-radius: 10px;
    }

    .version {
        justify-content: space-between;
        align-items    : center;

        .download {
            cursor         : pointer;
            display        : flex;
            text-decoration: none;
            color          : #00000099;
            gap            : 5px;

            span {
                font-size: 0.75rem;
            }


            &:hover {
                color: $secondaryColor;
            }
        }
    }

}