@use "src/index.scss" as *;

.container {
    display: flex;
    gap: 1rem;

    .column {
        .title {
            color: #555;
            margin-bottom: 1rem;
        }

        .item {
            border: 1px solid;
            text-align: center;
            margin: 10px 0;
            padding: 3px 0;
            cursor: pointer;

            &.selected {
                background-color: $secondaryColor;

                color: white;
            }

            &:hover {
                background-color: $secondaryColor;
                color: white;
            }
        }

        .plainItem {
            text-align: center;
            margin: 12px 0;
            padding: 3px 0;
        }
    }
}
