@use 'src/index.scss'as *;

.container {
    color        : $primaryColor;
    border       : 1px solid $secondaryColor;
    margin-bottom: 3rem;

    .previewImg {
        width        : 100%;
        border-radius: 15px;
        box-shadow   : $boxShadow;
    }

    .title {
        color      : $secondaryColor;
        font-size  : 1.2rem;
        font-weight: 600;

    }

    .info {
        line-height: 1.8rem;
    }
}