.container {
    padding: 1.5rem;
    .content {
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 1.5rem;
        .revenueContainer {
            background-color: #f3fdf4;
            border-radius: 10px;
            padding: 10px 25px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .boxTitle {
                display: flex;
                align-items: center;
                gap: 10px;

                .boxIcon {
                    width: 40px;
                    height: 40px;
                    background-color: #ffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .title {
                    color: #78a55a;
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                }
            }

            .numberContainer {
                display: flex;
                align-items: baseline;
                gap: 10px;
                p {
                    font-size: 30px;
                    padding: 0;
                    margin: 0;
                }
            }

            .trendContainer {
                .numberTrendUp {
                    color: #48742c;
                    display: flex;
                    gap: 5px;
                    font-size: 12px;
                }

                .numberTrendDown {
                    color: #bb271a;
                    display: flex;
                    gap: 5px;
                    font-size: 12px;
                }

                .timeTrend {
                    font-size: 10px;
                    color: #a8a7a7;
                }
            }
        }

        .section {
            border-radius: 10px;
            background-color: white;

            .transactionContainer {
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 5px;
                margin-bottom: 30px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                
            }

            .itemContainer {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .itemTitle {
                    .title {
                        font-size: 12px;
                        font-weight: 500;
                        padding: 0;
                        margin: 0;
                    }
                    .date {
                        font-size: 11px;
                        margin: 0;
                        padding: 0;
                    }
                }

                .itemPrice {
                    color: #35714E;
                    font-size: 14px;
                }
            }
        }
    }
}
