@use 'src/index.scss'as *;

.statusActive {
    background-color: #D9ECC0;
    color: #35714E;
    padding: 5px 0;
    border-radius: 5px;
}

.statusInactive {
    background-color: #FBA8A8;
    color: #B43620;
    padding: 5px 0;
    border-radius: 5px;
}

.empty {
    font-size: 1.2rem;
    color    : $primaryColor;
}