@use 'src/index.scss'as *;

.container {
    .productInfo {
        padding        : 3rem;
        justify-content: center;

        .content {
            justify-content: space-between;

            img {
                width: 100%;
            }

            .name {
                font-size    : 2rem;
                color        : $primaryColor;
                margin-bottom: 1rem;
            }

            .rate {
                display      : flex;
                align-items  : center;
                gap          : 5px;
                margin-bottom: 1rem;

                .number {
                    font-size: 1.3rem;
                    color    : $grayColor;
                }
            }

            .description {
                font-size    : 1.2rem;
                color        : $grayColor;
                line-height  : 2.2rem;
                margin-bottom: 1.5rem;
            }

            .price {
                color        : $primaryColor;
                font-size    : 1.5rem;
                margin-bottom: 2rem;
            }

            .options {
                margin-top: 2rem;

                .title {
                    color    : $primaryColor;
                    font-size: 1.4rem;
                }

                .metal {
                    display: flex;
                    gap    : 20px;

                    img {
                        width : 50px;
                        cursor: pointer;

                        &.selected {
                            border       : 1px solid;
                            border-radius: 50%;
                        }
                    }
                }

                .diamond {
                    justify-content: space-around;

                    .spec {
                        border       : 1px solid;
                        padding      : 0.8rem;
                        color        : $primaryColor;
                        text-align   : center;
                        cursor       : pointer;
                        margin-bottom: 1rem;

                        &.selected {
                            background-color: black;
                            color           : white;
                        }
                    }
                }

                .size {
                    align-items    : center;
                    justify-content: space-between;
                }
            }

            .btnGroup {
                .text {
                    text-align: center;
                    font-size : 1.1rem;
                    color     : $primaryColor;
                    margin    : 1rem 0;
                }
            }

            .note {
                color     : $primaryColor;
                margin-top: 1.5rem;
            }

            .policy {
                display    : flex;
                align-items: center;
                color      : $grayColor;
                margin     : 1rem 0;
                gap        : 0.5rem;
            }

            .moreLink {
                text-align: right;
                color     : $primaryColor;
                cursor    : pointer;

                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }

    .brandInfo {
        background-color: #fbfaf9;
        display         : flex;
        margin          : 2rem 0;

        .content {
            gap: 3rem;

            img {
                width: 100%;
            }

            .intro {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                padding        : 1rem;

                .title {
                    font-size    : 1.5rem;
                    color        : $primaryColor;
                    margin-bottom: 2rem;
                    font-weight  : 600;
                }

                .text {
                    color      : $primaryColor;
                    font-size  : 1.5rem;
                    line-height: 1.8rem;
                }
            }
        }
    }
}