@use 'src/index.scss'as *;

.container {
    color         : $primaryColor;
    padding       : 3rem;
    padding-bottom: 5rem;

    .title {
        font-size    : 2rem;
        margin-bottom: 3rem;
    }

    .left {
        .label {
            text-align   : center;
            font-size    : 1.2rem;
            margin-top   : 1.5rem;
            margin-bottom: 2rem;
            color        : $grayColor;

            img {
                width       : 20px;
                margin-right: 1rem;
            }
        }
    }

    .right {
        .label {
            color        : $grayColor;
            margin-bottom: 1rem;
        }
    }
}