@use 'src/index.scss'as *;

.container {
    margin-bottom: 3rem;

    .content {
        padding: 0 2rem;

        .name {
            color        : $primaryColor;
            font-size    : 1.2rem;
            margin-bottom: 1rem;
        }

        .address {
            color             : $grayColor;
            line-height       : 1.8rem;
            margin-bottom     : 1rem;
            font-size         : 1.1rem;
            overflow          : hidden;
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .phone {
            color        : $grayColor;
            font-size    : 1.1rem;
            margin-bottom: 1rem;
        }

        .btnGroup {
            padding-bottom: 1rem;
            text-align    : right;

            button {
                text-transform: capitalize;
                font-size     : 1.2rem;
                color         : rgb(26, 26, 26);
            }
        }
    }
}