@use 'src/index.scss'as *;

.container {
    color  : $primaryColor;
    padding: 3rem 0;

    .title {
        font-size    : 1.5rem;
        margin-bottom: 3rem;
    }

    .body {
        border        : 1px solid $secondaryColor;
        padding       : 1rem;
        padding-bottom: 3rem;

        .subtitle {
            margin-bottom: 2rem;
            margin-left  : 10px;
        }

        .design {
            border-bottom: 1px solid #ccc;
            padding      : 2rem 0;
            margin-bottom: 3rem;

            .designImg {
                width        : 100%;
                border-radius: 5px;
                box-shadow   : $boxShadow;
            }
        }
    }
}