@use "src/index.scss"as *;

.ring {
    box-shadow     : $boxShadow;
    justify-content: space-between;
    padding        : 1rem;
    margin-bottom  : 1rem;

    .image {
        width: 100%;

    }

    .name {
        font-size  : 1.2rem;
        font-weight: 500;
    }

    .genderIcon {
        width       : 13px;
        margin-right: 5px;
    }

    .price {
        font-weight: 600;
        font-size  : 1.2rem;
    }
}