@use 'src/index.scss'as *;

.container {
    display       : flex;
    flex-direction: column;
    padding-bottom: 10rem;

    .mainTitle {
        font-size  : 1.6rem;
        color      : $primaryColor;
        margin     : 3rem;
        margin-left: 4rem;
    }

    .staff,
    .customer {
        .title {
            font-size    : 1.4rem;
            color        : $primaryColor;
            margin-bottom: 0;

            @media screen and (max-width: 800px) {
                font-size: 1.5rem;
            }
        }
    }

    .title {
        font-size    : 1.4rem;
        color        : $primaryColor;
        margin-bottom: 2rem;

        @media screen and (max-width: 800px) {
            font-size: 1.5rem;
        }
    }

    .sectionContainer {
        border-radius: 10px;
        border       : 1px solid #ccc;

        .section {
            border-radius     : 10px;
            justify-content   : center;
            // box-shadow     : $boxShadow;

            .title {
                font-size    : 1.2rem;
                color        : $primaryColor;
                margin-bottom: 1.5rem;
            }

            .info {
                .gender {
                    color     : $primaryColor;
                    margin    : 1rem 0;
                    text-align: center;

                    img {
                        width       : 15px;
                        margin-right: 10px;
                    }
                }

                .label {
                    color: $primaryColor;
                }

                .item {
                    color        : $grayColor;
                    display      : flex;
                    align-items  : center;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}