@use 'src/index.scss'as *;

.container {
    color         : $primaryColor;
    padding       : 3rem 0;
    padding-bottom: 5rem;

    .title {
        font-size    : 1.5rem;
        margin-bottom: 2rem;
    }

    .label {
        text-align: center;
        color     : $grayColor;

        img {
            width       : 13px;
            margin-right: 10px;
        }
    }

    .info {
        margin: 2rem 0;

        .row {
            display        : flex;
            justify-content: space-between;

            .field {
                font-weight: 600;
                font-size  : 1.1rem;
                color      : $grayColor;
            }

            .value {
                font-size: 1.1rem;
                color    : $grayColor;
            }
        }
    }

    .cardContainer {
        color        : $primaryColor;
        border       : 1px solid $secondaryColor;
        margin-bottom: 3rem;

        .gender {
            color     : #555;
            text-align: center;

            img {
                margin-right: 10px;
            }
        }
    }

}