@use 'src/index.scss'as *;

.container {
    color         : $primaryColor;
    padding       : 3rem;
    padding-bottom: 5rem;

    .title {
        font-size    : 2rem;
        margin-bottom: 3rem;
    }

    .label {
        text-align   : center;
        font-size    : 1.2rem;
        margin-top   : 1.5rem;
        margin-bottom: 2rem;
        color        : $grayColor;

        img {
            width       : 20px;
            margin-right: 1rem;
        }
    }

    .info {
        padding      : 1.5rem;
        margin-bottom: 2rem;

        .row {
            display        : flex;
            justify-content: space-between;

            .field {
                font-weight: 600;
                font-size  : 1.1rem;
                color      : $grayColor;
            }

            .value {
                font-size: 1.1rem;
                color    : $grayColor;
            }
        }
    }

    .cardContainer {
        color        : $primaryColor;
        border       : 1px solid $secondaryColor;
        margin-bottom: 3rem;

        .gender {
            color: #555;

            img {
                margin-right: 10px;
            }
        }
    }

}