@use 'src/index.scss'as *;

.container {
    padding-top: 3rem;

    .title {
        font-size    : 2.2rem;
        color        : #464646;
        margin-bottom: 2rem;
        text-align   : center;
    }

    .form {
        display       : flex;
        flex-direction: column;
        gap           : 20px
    }

    .codeContainer {
        display    : flex;
        align-items: center;
        gap        : 15px;

        .code {
            font-weight: 600;
            font-size  : 1.8rem;
        }
    }

    .backBtn {
        color     : #5c5c5c;
        text-align: center;
        padding   : 0.8rem;
        cursor    : pointer;

        &:hover {
            color: $secondaryColor;
        }
    }
}