.container {
    .backHome {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        margin-bottom: 50px;
    }
    .backHome:hover{
        cursor: pointer;
    }

    .form {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        gap            : 20px;
    }

    button {
        margin-bottom: 80px;
    }
}