@use 'src/index.scss'as *;

.container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-bottom: 3rem;

    .headerContainer {
        background-color: #fbfaf9;
        display         : flex;
        margin-bottom   : 2rem;

        .header {
            gap: 3rem;

            img {
                width: 100%;
            }

            .intro {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                padding        : 1rem;

                .title {
                    font-size    : 2.3rem;
                    color        : $primaryColor;
                    margin-bottom: 2rem;

                }

                .text {
                    color      : $grayColor;
                    font-size  : 1.2rem;
                    line-height: 1.8rem;
                }
            }

            // .imgContainer {
            //     display        : flex;
            //     justify-content: center;
            //     gap            : 1.5rem;
            // }
        }
    }

    .filterSortBar {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin         : 2rem 0;

        .filter {
            display: flex;
            gap    : 2rem;
        }

    }

    .list {
        margin-top   : 1rem;
        margin-bottom: 5rem;
    }

    .empty {
        font-size: 1.2rem;
        color    : $primaryColor;
    }
}