@use 'src/index.scss'as *;

.container {
    color         : $primaryColor;
    padding       : 3rem;
    padding-bottom: 5rem;

    .title {
        font-size: 1.5rem;
    }

    .count {
        font-size: 1.2rem;
    }

    .original {
        background-color: #F5F5F5;
        box-shadow      : $boxShadow;
        padding         : 3rem 2rem;
        padding-bottom  : 1rem;
        border-radius   : 15px;
        margin-bottom   : 5rem;

        .name {
            font-size    : 1.5rem;
            margin-bottom: 3rem;
            text-align   : center;

            @media screen and (max-width: 900px) {
                font-size: 1.3rem;
            }
        }

        .label {
            text-align   : center;
            font-size    : 1.1rem;
            margin-top   : 1.5rem;
            margin-bottom: 2rem;
            color        : $grayColor;

            img {
                width       : 15px;
                margin-right: 10px;
            }
        }

    }

    .versionList {
        .label {
            font-size : 1.2rem;
            margin-top: 1.5rem;
            color     : $grayColor;

            img {
                width       : 20px;
                margin-right: 1rem;
            }
        }

        .version {
            background-color: #F5F5F5;
            padding         : 2rem;
            padding-bottom  : 0.5rem;
            margin-bottom   : 2rem;
            text-align      : center;
            height          : 100%;
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            align-items     : center;
            border-radius   : 20px;

            .date {
                margin-bottom: 1rem;
                color        : #888;
            }

            .versionNo {
                color : #888;
                margin: 1rem 0;
            }

            .addText {
                color     : #888;
                margin-top: 1.5rem;
            }

            .addIcon {
                color : #ccc;
                width : 100%;
                height: 100px;
            }
        }

        .addVersion {
            cursor: pointer;

            &:hover {
                opacity         : 0.5;
                background-color: white;
            }
        }
    }
}