@use 'src/index.scss'as *;

.container {
    display        : flex;
    justify-content: center;
    color          : $primaryColor;
    margin         : 3rem 0;

    .title {
        font-size  : 1.5rem;
        font-weight: 600;
    }

    .paymentMethod {
        margin-bottom: 3rem;

        .title {
            color        : $primaryColor;
            font-size    : 1.3rem;
            margin-bottom: 1.5rem;
            font-weight  : 600;
        }

        .radio {
            display      : flex;
            align-items  : center;
            color        : $primaryColor;
            font-size    : 1.1rem;
            gap          : 1rem;
            margin-bottom: 1rem;

            .notAvailable {
                color: #ccc;
            }

            img {
                width: 35px;
            }
        }
    }

    .left {
        .title {
            color        : $primaryColor;
            font-size    : 1.3rem;
            margin-bottom: 1rem;
        }

        .shipping {
            margin-bottom: 3rem;

            .titleContainer {
                display        : flex;
                justify-content: space-between;
                margin         : 1.5rem 0;

                .title {
                    font-size    : 1.3rem;
                    color        : $primaryColor;
                    margin-bottom: 0;
                }

                .addBtn {
                    display    : flex;
                    align-items: center;
                    gap        : 5px;
                    cursor     : pointer;

                    &:hover {
                        opacity: 0.4;
                    }

                    .icon {
                        color: $secondaryColor;
                    }

                    span {
                        color    : $primaryColor;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .pickup {
            margin-bottom: 2rem;

            .title {
                color    : $primaryColor;
                font-size: 1.3rem;
                margin   : 2rem 0;
            }

            .address {
                color        : $primaryColor;
                margin-bottom: 0.8rem;
                line-height  : 1.8rem;
                font-size    : 1.1rem;
            }

            .phone {
                color        : $primaryColor;
                margin-bottom: 2rem;
                font-size    : 1.1rem;
            }
        }
    }

    .summary {
        border: 1px solid #B43620;

        @media screen and (max-width: 500px) {
            padding: 2rem;
        }

        .title {
            color        : $primaryColor;
            font-size    : 1.3rem;
            margin-bottom: 1rem;
            font-weight  : 600;
        }

        .body {
            border : 1px solid #888;
            padding: 2rem;

            .title {
                color        : $primaryColor;
                font-size    : 1.2rem;
                margin-bottom: 2rem;
                font-weight  : 600;
            }

            .design {
                align-items  : flex-start;
                margin-bottom: 2.5rem;

                .left {
                    img {
                        width : 100%;
                        border: 1px solid #ccc;
                    }
                }

                .gender {
                    color      : #888;
                    font-weight: 300;
                    text-align : center;

                    img {
                        width       : 10px;
                        margin-right: 7px;
                        border      : none;
                    }
                }
            }

            .noteTitle {
                font-weight  : 500;
                margin-bottom: 0.5rem;
            }

            .note {
                font-size: 1.2rem;
                color    : $secondaryColor;
            }
        }
    }
}