:root {
  font-family : IBMPlexSansArabic-Regular, IBMPlexSansArabic;
  color-scheme: light dark;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

body {
  margin          : 0;
  background-color: white;
}

$secondaryColor: #b43620;
$primaryColor  : #3a3a3a;

.slick-track {
  display: flex;
  gap    : 1rem;
}

.feedbackTabIndicator {
  background-color: $primaryColor !important;
}