:root {
  font-family            : IBMPlexSansArabic-Regular, IBMPlexSansArabic;
  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

body {
  margin          : 0;
  background-color: white;
  padding         : 0 !important;
}

$secondaryColor: #b43620;
$primaryColor  : #3a3a3a;

.slick-track {
  display: flex;
  gap    : 1rem;
}

.feedbackTabIndicator {
  background-color: $primaryColor !important;
}

.MuiDataGrid-cell {
  display    : flex;
  align-items: center !important;
}

.MuiDataGrid-filler,
.MuiDataGrid-columnHeader {
  background-color: #313131;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
  color      : white;
}