@use "src/index.scss"as *;

.container {
    padding: 3rem;

    .customHeader {
        background-color: #1976d2 !important;
        color           : #ffffff !important;
    }

    .title {
        color        : $primaryColor;
        font-size    : 1.5rem;
        margin-bottom: 2rem;
    }

    .tabLabel {
        text-transform: capitalize;
    }

    .waiting,
    .ongoing {
        background-color: #f1c40f;
        color           : white;
        border-radius   : 15px;
        padding         : 5px 10px;
        text-transform  : capitalize;
        width           : 100px;
    }

    .completed {
        background-color: #D9ECC0;
        color           : #35714E;
        border-radius   : 15px;
        padding         : 5px 10px;
        text-transform  : capitalize;
        width           : 100px;
    }

    .canceled {
        background-color: #e74c3c;
        color           : #ffffff;
        border-radius   : 15px;
        padding         : 5px 10px;
        text-transform  : capitalize;
        width           : 100px;
    }
}