@use 'src/index.scss'as *;

.container {
    .title {
        color    : $primaryColor;
        font-size: 1.4rem;
    }

    .section {
        justify-content: space-between;

        .label {
            font-size  : 1.2rem;
            color      : $primaryColor;
            line-height: 2.5rem;
        }

        .content {
            font-size  : 1.2rem;
            color      : $grayColor;
            line-height: 2.5rem;
        }
    }

    .share {
        display    : flex;
        align-items: center;
        margin-top : 1rem;

        span {
            color       : $grayColor;
            font-size   : 1.4rem;
            margin-right: 1rem;
        }

        .iconBar {
            display: flex;
            gap    : 0.8rem;

            .icon {
                cursor: pointer;

                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }


}