@use 'src/index.scss'as *;

.container {
    .mainTitle {
        font-size: 2rem;
        color    : $primaryColor;
        padding  : 1rem 0;
        margin   : 0 auto;
    }

    .title {
        font-size: 1.5rem;
        color    : $primaryColor;
        padding  : 1rem 0;
    }

    .text {
        font-size  : 1.2rem;
        color      : $grayColor;
        line-height: 2rem;

        span {
            color : $secondaryColor;
            cursor: pointer;
        }
    }
}