@use 'src/index.scss'as *;

.title {
    font-size: 1.5rem;
}

.container {
    display       : flex;
    overflow      : hidden;
    padding       : 3rem;
    padding-bottom: 0rem;

    .intro {
        font-size : 1.5rem;
        color     : $primaryColor;
        text-align: center;
        margin    : 2rem 0;
    }

    .guide {
        text-align   : center;
        color        : $grayColor;
        font-size    : 1.3rem;
        line-height  : 1.8rem;
        margin-bottom: 3rem;
    }
}